@font-face {
  font-family: "Gilroy";
  src: url("../../../public/fonts/Gilroy/Gilroy-Black.ttf");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Gilroy";
  src: url("../../../public/fonts/Gilroy/Gilroy-ExtraBold.ttf");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Gilroy";
  src: url("../../../public/fonts/Gilroy/Gilroy-Bold.ttf");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Gilroy";
  src: url("../../../public/fonts/Gilroy/Gilroy-SemiBold.ttf");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Gilroy";
  src: url("../../../public/fonts/Gilroy/Gilroy-Medium.ttf");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Gilroy";
  src: url("../../../public/fonts/Gilroy/Gilroy-Regular.ttf");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}


@font-face {
  font-family: "Buyan";
  src: url("../../../public/fonts/Buyan/BuyanBold.ttf");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Buyan";
  src: url("../../../public/fonts/Buyan/BuyanRegular.ttf");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Mulish";
  src: url("../../../public/fonts/Mulish/Mulish-Bold.ttf");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Mulish";
  src: url("../../../public/fonts/Mulish/Mulish-SemiBold.ttf");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Mulish";
  src: url("../../../public/fonts/Mulish/Mulish-Medium.ttf");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Mulish";
  src: url("../../../public/fonts/Mulish/Mulish-Regular.ttf");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}