@import "@/styles/mixins.scss";

.page {
    position: relative;
}

.container {
    max-width: calc(var(--max-width) + 20px);
    margin: 0 auto;
    padding: 0 15px;
}

.title {
    color: var(--additional-color-c-3-a, #1C2020);
    text-align: center;
    font-family: "Buyan";
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 32px;
    letter-spacing: 1.6px;
    padding: 0 15px;

    @include respond-to("sm") {
        text-align: center;
        font-family: Buyan;
        font-size: 32px;
        font-style: normal;
        font-weight: 700;
        line-height: 32px;
        letter-spacing: 1.6px;
    }
}

.fp-watermark {
    display: none;
}
