@import "@/styles/mixins.scss";

.wrapper {
    width: 100%;
    background: white;
    font-family: "Buyan";
    position: absolute;
    z-index: 800;

    &.fixed {
        position: fixed;
        box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.15);
    }
}

.header {
    padding-top: 16px !important;
    padding-bottom: 16px !important;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__btn {
        width: 200px;
        height: 32px;
        border-radius: 10px;
        background: var(--primary-secondary-gradient-color-c-5-e, linear-gradient(81deg, #DDF28A 11.44%, #C7F3F9 92.75%));
        color: var(--additional-color-c-3-a, #1C2020);
        text-align: center;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 18px;
        letter-spacing: 0.48px;
        font-family: "Buyan";
    }
}

.box {
    display: flex;
    align-items: center;
}

.navbar {
    display: flex;
    gap: 60px;
    margin-right: 50px;

    &__link {
        color: var(--additional-color-c-3-a, #1C2020);
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 16px;
        letter-spacing: 0.54px;
        font-family: "Buyan";
        cursor: pointer;
    }
}

.header__burger {
    display: none;
}

.nav {
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
}

.navList {
    display: flex;
    max-width: 998px;
    margin: 0 auto;
    gap: 60px;
    height: 35px;
    align-items: center;
    justify-content: space-between;

    &__link {
        color: var(--additional-color-c-3-a, #1C2020);
        font-family: 'Buyan';
        font-size: 20px;
        font-weight: 400;
        line-height: 16px;
        letter-spacing: 1px;
        white-space: nowrap;
        cursor: pointer;
    }

    @include respond-to("lg") {
        display: none;
    }
}

@include respond-to("md") {
    .box {
        display: none;
    }

    .header__burger {
        display: flex;
        align-items: center;
        width: 26px;
        height: 26px;
        cursor: pointer;
        justify-self: end;
        margin-right: 5px;

        &_icon {
            display: block;
            background: rgba(39, 39, 39, 1);
            width: 24px;
            height: 2px;
            border-radius: 1px;
            position: relative;
        }

        &_icon::before {
            content: "";
            display: block;
            position: absolute;
            background: rgba(39, 39, 39, 1);
            width: 24px;
            height: 2px;
            bottom: 8px;
            transition: 0.4s;
        }

        &_icon::after {
            content: "";
            display: block;
            position: absolute;
            background: rgba(39, 39, 39, 1);
            width: 24px;
            height: 2px;
            top: 8px;
            transition: 0.4s;
        }

        &_icon.open {
            background: transparent;
        }

        &_icon.open::before {
            bottom: 0;
            transform: rotate(-45deg);
        }

        &_icon.open::after {
            transform: rotate(45deg);
            top: 0;
        }
    }
}