@import "@/styles/mixins.scss";


.section {
    padding-bottom: 56px;
}

.contant {
    padding-top: 32px;
    // padding-bottom: 24px;
}

.viewBox {
    height: 0;
    overflow: hidden;
    transition: .9s;
    max-width: 860px;
    margin: 0 auto;
    padding-top: 24px;
    @include respond-to("md") {
        display: none;
    }
}
.viewBox.active {
    height: var(--height);
}