@import "@/styles/mixins.scss";


.section {
    max-width: 1100px;
    padding: 0 10px;
    margin: 0 auto;
    padding-bottom: 56px;
    padding-top: 145px;

    @include respond-to("md") {
        padding-top: 65px;

    }
}

.sliderWrapper {
}

.contant {
    padding-top: 50px;
    max-width: 1100px;
    padding: 0 10px;
    padding-top: 32px;
    margin: 0 auto;
}

.slide {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    padding: 0 10px;
    padding-bottom: 50px;

}

.imgBox {
    filter: grayscale(100%);
    transition: .3s;

    &:hover {
        filter: grayscale(0%)
    }
}