@import "@/styles/mixins.scss";

.section {
    padding-bottom: 15px;
    padding-top: 35px;
    background: url('./Union.png');
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center;
    margin: auto 0 ;

    @include respond-to("md") {
        min-height: 85vh;
        
    }
}

.sectionWrapper {
    padding-top: 120px;
    @include respond-to("md") {
        padding-top: 85px;
        padding-bottom: 25px;
        // display: flex;
        min-height: 100vh;
        align-items: center;
    }
}

.header {
    &__title {
        color: var(--additional-color-c-3-a, #1C2020);
        text-align: center;
        font-family: Buyan;
        font-size: 32px;
        font-style: normal;
        font-weight: 700;
        line-height: 32px;
        letter-spacing: 1.6px;
        padding-bottom: 32px;
    }
}

.contant {
    // padding-top: 50px;
}

.sliderWrapper {
    padding-bottom: 0px;
}





@include respond-to("sm") {
    .slide {
        padding-bottom: 60px;
    }

    .header {
        &__title {
            font-weight: 700;
            font-size: 30px;
            line-height: 85%;
        }
    }

    .section {
        border-radius: 0 0 var(--border-radius-s) var(--border-radius-s);
    }
}