@import "@/styles/mixins.scss";

.section {
    padding-bottom: 15px;
    padding-top: 135px;
    background: rgba(199, 243, 249, 0.45);

    @include respond-to("md") {
        padding-top: 135px;
        padding-bottom: 25px;
        min-height: 100vh;
    }
}

.header {
    &__title {
        color: var(--additional-color-c-3-a, #1C2020);
        text-align: center;
        font-family: Buyan;
        font-size: 32px;
        font-style: normal;
        font-weight: 700;
        line-height: 32px;
        letter-spacing: 1.6px;
    }
}

.contant {
    padding-top: 50px;
}

.sliderWrapper {
    padding-bottom: 0px;
}





@include respond-to("sm") {
    .slide {
        padding-bottom: 60px;
    }

    .header {
        &__title {
            font-weight: 700;
            font-size: 30px;
            line-height: 85%;
        }
    }

    .section {
        border-radius: 0 0 var(--border-radius-s) var(--border-radius-s);
    }
}