@import "@/styles/mixins.scss";

.section {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 10px;
    padding-bottom: 110px;
    padding-top: 145px;

    @include respond-to("md") {
        padding-top: 65px;
        padding-bottom: 40px;

    }
}

.title {
    color: var(--additional-color-c-3-a, #1C2020);
    text-align: center;
    font-family: 'Buyan';
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 32px;
    letter-spacing: 1.6px;
    margin-bottom: 32px;
}

.infoBox {
    gap: 20px;
    min-height: 360px;
    display: grid;
    grid-template-columns: minmax(350px, 530px) minmax(350px, 530px);
    margin-bottom: 20px;


    @include respond-to("lg") {
        justify-content: center;
        grid-template-columns: minmax(350px, 530px);
    }
}

.imgBox {
    height: 100%;
    width: 100%;
    min-height: 360px;
    max-height: 420px;
    border-radius: 10px;

    @include respond-to("lg") {
        display: none;
    }
}

.img {

    &_lg {
        height: 100%;
    }

    &_md {
        display: none;

        @include respond-to("lg") {
            width: 100%;
            height: auto;
            display: block;
            margin-bottom: 16px;
        }

        @include respond-to("sm") {
            display: none;
        }
    }

    &_sm {
        display: none;

        @include respond-to("sm") {
            width: 100%;
            height: auto;
            display: block;
            margin-bottom: 16px;
        }
    }

    @include respond-to("sm") {
        height: auto;
        width: 100%;
    }
}

.textBox {
    color: var(--additional-color-c-3-a, #1C2020);
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;

    &__ul {
        margin-bottom: 20px;
    }

    &__p {
        margin-bottom: 20px;
    }

    &__p:first-child {
        margin-bottom: 5px;
    }

    &__li {
        margin-left: 20px;
        position: relative;
    }

    &__li::after {
        content: '';
        position: absolute;
        left: -14px;
        top: 11px;
        width: 4px;
        height: 4px;
        background: black;
        border-radius: 100%;
        z-index: 10;
    }

    @include respond-to("sm") {
        padding-left: 10px;
    }
}

// TILE BOX

.tileBox {
    &__row {
        margin-bottom: 20px;
        display: grid;
        gap: 20px;
        grid-template-columns: minmax(400px, 640px) minmax(280px, 420px);
    }

    &__row:nth-child(2) {
        margin-bottom: 0;
        grid-template-columns: minmax(280px, 420px) minmax(400px, 640px);
    }

    @include respond-to("md") {

        &__row,
        &__row:nth-child(2) {
            justify-content: center;
            grid-template-columns: minmax(350px, 530px);
        }
    }
}

.tileItem {
    border-radius: 10px;
    border: 1px dashed var(--additional-color-c-3-c, #5C5F5E);
    padding: 24px 20px;
    background: white;
    position: relative;
    overflow: hidden;

    &__count {
        display: block;
        font-size: 96px;
        font-weight: 700;
        line-height: 110px;
        letter-spacing: 4.8px;
        font-family: 'Buyan';
    }

    &__title {
        color: var(--additional-color-c-3-b, #3C3F3F);
        font-family: 'Buyan';
        font-size: 32px;
        font-style: normal;
        font-weight: 700;
        line-height: 34px;
        letter-spacing: 1.6px;
        text-align: center;
        margin-bottom: 32px;
        position: relative;
        z-index: 10;


    }

    &__text {
        color: var(--additional-color-c-3-a, #1C2020);
        font-family: "Mulish";
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        position: relative;
        z-index: 10;
    }

    &:hover {
        background: url('../../../media/img/tileBack.png'), lightgray 0px -248.767px / 168.75% 384.643% no-repeat;
    }

}