@import "@/styles/mixins.scss";

.wrapper {
    background: url('../../../media/img/home/hero_bg_desctop.png');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 750px;
    padding-top: 120px;
    padding-bottom: 56px;

    @include respond-to("lg") {
        background: url('../../../media/img/home/hero_bg_md.png');
        background-repeat: no-repeat;
        background-size: cover;
    }

    @include respond-to("sm") {
        background: url('../../../media/img/home/hero_bg_mobile.png');
        background-repeat: no-repeat;
        background-size: cover;
    }
}

.hero {
    position: relative;

    &__popFilter {
        display: none;
    }

    margin-bottom: 48px;

    @include respond-to("md") {
        &__popFilter {
            position: absolute;
            display: block;
            bottom: 0;
            left: 0;
            height: 170px;
            width: 100%;
            background: linear-gradient(180deg, rgba(250, 250, 250, 0) 0%, rgba(250, 250, 250, 1) 89%, rgba(250, 250, 250, 1) 100%);
            z-index: 1;
        }
    }
}

.contant {
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    height: 100%;
    position: relative;
}

.heroSlider {
    &__slide {}
}

.sliderBox {
    width: 100%;
    position: relative;
    z-index: 100;
}

.slide {
    height: 72px;
    padding: 0 5px;
    border-right: 2px solid #BCBCBC;
    position: relative;
    z-index: 100;
}

.slide_withoutBorder {
    height: 72px;
    padding: 0 10px;

}


.message {
    width: 530px;
    height: 120px;
    padding: 21px 0 0 39px;
    position: absolute;
    top: 200px;
    left: 0;
    background: url('../../../media/img/home/hero_shape.svg');
    background-repeat: no-repeat;
    background-size: cover;
    left: 10px;

    &__title {
        color: var(--additional-color-c-3-b, #3C3F3F);
        font-family: "Buyan";
        font-size: 36px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        letter-spacing: 1.8px;
        margin-bottom: 5px;
    }

    &__subtitle {
        color: var(--additional-color-c-3-a, #1C2020);
        font-family: "Mulish";
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px;
        padding-left: 30px;
    }

    @include respond-to("sm") {
        top: 201px;
        left: 20px;

        width: 280px;
        height: 120px;
        background: url('../../../media/img/home/hero_shape_md.svg');
        background-repeat: no-repeat;
        background-size: cover;
        padding: 16px 0 0 18px;

        &__title {
            color: var(--additional-color-c-3-b, #3C3F3F);
            font-size: 28px;
            font-style: normal;
            font-weight: 700;
            line-height: 32px;
            letter-spacing: 1.4px;
        }

        &__subtitle {
            color: var(--additional-color-c-3-a, #1C2020);
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: 16px;
            padding-left: 8px;
        }
    }
}


.infoList {
    display: flex;
    max-width: 998px;
    margin: 0 auto;
    gap: 60px;
    padding-top: 72px;
    height: 104px;
    align-items: center;
    justify-content: space-between;

    &__link {
        color: var(--additional-color-c-3-a, #1C2020);
        font-family: 'Buyan';
        font-size: 20px;
        font-weight: 400;
        line-height: 16px;
        letter-spacing: 1px;
        white-space: nowrap;
        cursor: pointer;
    }

    @include respond-to("xl") {
        display: none;
    }
}


@include respond-to("xl") {
    .hero {
        background-repeat: no-repeat;
        background-size: cover;
    }
}

@include respond-to("sm") {
    .slide {
        border-right: none;
    }
}

@include respond-to("md") {
    .hero {
        background: url('../../../media/img/home/hero_bg_mobile.png');
        background-repeat: no-repeat;
        background-size: cover;
    }

}