.backgroundWrapper {
    background-image: url('../../media/img/contacts/background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    // background-position: center;
}

.wrapper {
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 15px;
    

}

.contactUs {
    display: flex;
}

.title {
    color: #000;
    font-family: "Buyan";
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 1.6px;
    padding: 128px 0 0;
    text-align: center;
    padding-bottom: 24px;

}

.contactRow {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 40px;

}

.titleRow {
    font-family: "Buyan";
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 1px;
    color: #4E772B;
    // color: var(--primary-gradient-color-c-4-c, linear-gradient(81deg, #4E772B 11.44%, #90BB3A 92.75%));
    background-clip: text;

}

.description {
    display: flex;
    align-items: center;
    margin-top: 16px;
    color: var(--additional-color-c-3-b, #3C3F3F);
    font-family: "Mulish";
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
}

.contactItem {
    display: flex;
    flex-shrink: 0;
    margin-right: 8px;
}

.map {
    width: 100%;
    height: 100%;
}

.messagers {
    display: flex;
    gap: 32px;
    align-items: center;

}