@import "@/styles/mixins.scss";

.wrapper {
    display: grid;
    grid-template-columns: 560px minmax(350px, 720px);
    // flex-direction: row;
    // max-width: 1300px;
    margin: 0 auto;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    padding-top: 48px;
    animation: slidein .5s ease-in-out;

    @include respond-to("lg") {
        flex-direction: column;

    }

}

.contentBox {
    min-width: 530px;
}

.title {
    color: #000;
    font-family: "Buyan";
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 1.2px;
}

.description {
    max-width: 100%;
    margin-top: 16px;
    color: #000;
    font-family: "Gilroy";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}

.itemBox {
    display: flex;
    // max-width: 530px;
    justify-content: space-between;
    // gap: 80px;
    text-align: center;

}

.itemBox2 {
    display: flex;
    // max-width: 530px;
    justify-content: center;
    gap: 80px;
    text-align: center;

}

.item {
    margin-top: 24px;
    color: #000;
    font-family: "Buyan";
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 16px;
    letter-spacing: 0.9px;
}

.info {
    margin-top: 8px;
    color: #000;
    font-family: "Buyan";
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 1.92px;

}

.sliderBox {
    display: grid;
    grid-template-columns: 40px minmax(300px, 639px) 40px;
    position: relative;
    gap: 16px;
}

.btn {
    position: relative;
    top: 50%;
    transform: translateY(0%);
}

.slider {
    width: 100%;
    max-height: 408px;
    border-radius: 10px;


}

.placeholder {
    min-height: 408px;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    background: var(--02-block-02, #BFD4E4);
}

.image {
    width: 100%;
    max-height: 408px;
    height: 100%;
}

@keyframes slidein {
    from {
        transform: scale(.3);
        // display: flex;
    }

    to {
        transform: scale(1);
    }
}
