.wrapper {
    max-width: 1120px;
    margin: 0 auto;
    padding: 0 15px;
}

.title {
    color: #000;
    font-family: "Buyan";
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: 0.96px;
    padding: 128px 0 0;
    text-align: center;

}